doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/lib/zepto.js")
    script(type="text/javascript", src="/javascripts/lib/underscore.js")
    script(type="text/javascript", src="/javascripts/lib/backbone.js")
    script(type="text/javascript", src="/javascripts/ekwo.js")
    script(type="text/javascript", src="/javascripts/models.js")
    script(type="text/javascript", src="/javascripts/routes.js")
    script(type="text/javascript", src="/javascripts/views.js")
  body
    block content
